@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.form-container {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.form-callback {
	position: fixed;
	box-sizing: border-box;
	@include mix.displayFlex(flex, center, center);
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	min-height: 30px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 1em;
	color: var.$darkColor;
	@include mix.adaptivFont(16, 14);
	border-radius: 8px;
	background: var.$lightColor;
	box-shadow: 4px 2px 11px 1px rgba(1, 1, 1, .6);
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity .5s ease, transform .5s ease;

	&._form-callback-active {
		opacity: 1;
		transform: translateY(50px);
	}
}

.form {
	display: flex;
	overflow: hidden;
	width: 100%;
	max-width: 640px;
	border: 1px solid var.$accentColorTwo;
	border-radius: 10px;
	background-color: var.$accentColorTwo;

	&>input {
		width: 100%;
		padding: .7em 1em;
		border: none;
		outline: none;
		border-radius: 9px;
	}

	& button {
		@include mix.displayFlex(flex, center, center);
		width: 100%;
		max-width: 80px;
		background: transparent;
		transition: opacity .6s ease;

		@media (any-hover: hover) {
			&:hover {
				opacity: .6;
			}
		}
	}
}