@use '../base/variable' as var;
@use '../base/mixin' as mix;

.subtitle {
	margin: 0 0 1em 0;
	font-size: var.$subTitleFontSize;
	font-family: var.$subFamily;
	font-weight: var.$subTitleWeight;
	line-height: var.$subTitleHeight;
	color: var.$subTitleColor;
}