<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<div class="footer__wrapper">
				<div class="footer__block footer__block_1">
					<h3 class="footer__list-title">Помощь</h3>
					<ul class="footer__list">
						<li><a href="#" class="footer__item-link">Как оплатить?</a></li>
						<li><a href="#" class="footer__item-link">Как получить?</a></li>
						<li><a href="#" class="footer__item-link">Пользовательское соглашение</a></li>
						<li><a href="#" class="footer__item-link">Бонусная программа</a></li>
					</ul>
				</div>
				<div class="footer__block footer__block_2">
					<h3 class="footer__list-title">Онас</h3>
					<ul class="footer__list">
						<li><a href="#" class="footer__item-link">Ремонт и облуживание</a></li>
						<li><a href="#" class="footer__item-link">Прокат оборудования</a></li>
						<li><a href="#" class="footer__item-link">Наша история</a></li>
						<li><a href="#" class="footer__item-link">Мероприятия от Байк Центра</a></li>
						<li><a href="#" class="footer__item-link">Арендодателям</a></li>
						<li><a href="#" class="footer__item-link">Вакансии</a></li>
						<li><a href="#" class="footer__item-link">Контакты</a></li>
					</ul>
				</div>
				<div class="footer__block footer__block_3">
					<div class="footer__block_row">
						<h3 class="footer__list-title">Контакты</h3>
						<ul class="footer__list">
							<li><a href="tel:+78005000320" class="footer__item-link">8 (800) 500-03-20</a></li>
							<li><a href="tel:+78612025840" class="footer__item-link">8 (861) 202-58-40</a></li>
							<li><a href="#" class="footer__item-link footer__item-link_wa">WhatsApp</a></li>
							<li><a href="#" class="footer__item-link footer__item-link_tg">Telegram</a></li>
						</ul>
					</div>
					<div class="footer__block_row">
						<h3 class="footer__list-title footer__list-title_little">Адреса в г. Крансодаре:</h3>
						<ul class="footer__list">
							<li><a href="#" class="footer__item-link">ул. Дорожная, 1Е (Яблоновский)</a></li>
							<li><a href="#" class="footer__item-link">ул. Сормовская, 2а</a></li>
							<li><a href="#" class="footer__item-link">ул. Красных Партизан, 237</a></li>
							<li><a href="#" class="footer__item-link">ул. Российская, 131/5</a></li>
						</ul>
					</div>
				</div>
				<div class="footer__block footer__block_4">
					<h3 class="footer__list-title footer__list-title_little">Скачайте наше приложение</h3>
					<ul class="footer__list">
						<li class="footer__item_1"><img src="../../assets/images/footer/qr-bike-center.jpg" alt="qr-bike-center">
						</li>
						<li class="footer__item_2"><a href="#" class="footer__item-img"><img
									src="../../assets/images/footer/apstore.svg" alt="AppStore"></a></li>
						<li class="footer__item_3"><a href="#" class="footer__item-img"><img
									src="../../assets/images/footer/gplay.svg" alt="Google Play"></a></li>
					</ul>
				</div>
				<div class="footer__block footer__block_5">
					<h3 class="footer__list-title footer__list-title_little">Узнавай о скидках первым</h3>
					<form action="#" class="footer__form form">
						<input name="mail" type="email" required>
						<button title="Поиск" type="submit">Подписаться</button>
					</form>
				</div>
				<div class="footer__block footer__block_6">
					<ul class="footer__list footer__list_social">
						<li><a href="#" class="footer__item-img"><img src="../../assets/images/icon/vk-footer.svg" alt="VK"></a>
						</li>
						<li><a href="#" class="footer__item-img"><img src="../../assets/images/icon/yt-footer.svg"
									alt="YouTube"></a>
						</li>
						<li><a href="#" class="footer__item-img"><img src="../../assets/images/icon/tt-footerr.svg"
									alt="TikTok"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<p>© 2022<br>Сеть магазинов "Байк Центр" ® — bike-сentre.ru</p>
		</div>
	</div>
</footer>