<footer class="footer">
	<div class="footer-mob__app">
		<h2 class="footer-mob__title">Скачайте наше приложение</h2>
		<ul class="footer-mob__list-app">
			<li class="footer-mob__app-item">
				<a href="#" class="footer-mob__app-link">
					<img src="../../assets/images/footer/apstore.svg" alt="AppStore">
				</a>
			</li>
			<li class="footer-mob__app-item">
				<a href="#" class="footer-mob__app-link">
					<img src="../../assets/images/footer/gplay.svg" alt="Google Play">
				</a>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="footer__top">
			<div class="footer__wrapper">
				<div class="footer__block footer__block_1">
					<h3 class="footer__list-title">Помощь</h3>
					<ul class="footer__list">
						<li><a href="#" class="footer__item-link">Как оплатить?</a></li>
						<li><a href="#" class="footer__item-link">Как получить?</a></li>
						<li><a href="#" class="footer__item-link">Пользовательское соглашение</a></li>
						<li><a href="#" class="footer__item-link">Бонусная программа</a></li>
					</ul>
				</div>
				<div class="footer__block footer__block_2">
					<h3 class="footer__list-title">Онас</h3>
					<ul class="footer__list">
						<li><a href="#" class="footer__item-link">Ремонт и облуживание</a></li>
						<li><a href="#" class="footer__item-link">Прокат оборудования</a></li>
						<li><a href="#" class="footer__item-link">Наша история</a></li>
						<li><a href="#" class="footer__item-link">Мероприятия от Байк Центра</a></li>
						<li><a href="#" class="footer__item-link">Арендодателям</a></li>
						<li><a href="#" class="footer__item-link">Вакансии</a></li>
						<li><a href="#" class="footer__item-link">Контакты</a></li>
					</ul>
				</div>
				<div class="footer__block footer__block_3">
					<div class="footer__block_row">
						<h3 class="footer__list-title">Контакты</h3>
						<ul class="footer__list">
							<li><a href="tel:+78005000320" class="footer__item-link">8 (800) 500-03-20</a></li>
							<li><a href="tel:+78612025840" class="footer__item-link">8 (861) 202-58-40</a></li>
							<li><a href="#" class="footer__item-link footer__item-link_wa">WhatsApp</a></li>
							<li><a href="#" class="footer__item-link footer__item-link_tg">Telegram</a></li>
						</ul>
					</div>
					<div class="footer__block_row">
						<h3 class="footer__list-title footer__list-title_little">Адреса в г. Крансодаре:</h3>
						<ul class="footer__list">
							<li><a href="#" class="footer__item-link">ул. Дорожная, 1Е (Яблоновский)</a></li>
							<li><a href="#" class="footer__item-link">ул. Сормовская, 2а</a></li>
							<li><a href="#" class="footer__item-link">ул. Красных Партизан, 237</a></li>
							<li><a href="#" class="footer__item-link">ул. Российская, 131/5</a></li>
						</ul>
					</div>
				</div>
				<div class="footer__block footer__block_4">
					<h3 class="footer__list-title footer__list-title_little">Скачайте наше приложение</h3>
					<ul class="footer__list">
						<li class="footer__item_1"><img class="footer__item_1-img"
								src="../../assets/images/footer/qr-bike-center.jpg" alt="qr-bike-center" width="114">
						</li>
						<li class="footer__item_2"><a href="#" class="footer__item-img"><img
									src="../../assets/images/footer/apstore.svg" alt="AppStore"></a></li>
						<li class="footer__item_3"><a href="#" class="footer__item-img"><img
									src="../../assets/images/footer/gplay.svg" alt="Google Play"></a></li>
					</ul>
				</div>
				<div class="footer__block footer__block_5">
					<h3 class="footer__list-title footer__list-title_little">Узнавай о скидках первым</h3>
					<form action="#" class="footer__form form">
						<input class="form__input" name="mail" type="email" required>
						<button class="form__btn" title="Подписаться на новости" type="submit">Подписаться</button>
					</form>
				</div>
				<div class="footer__block footer__block_6">
					<ul class="footer__list footer__list_social">
						<li><a href="#" class="footer__item-img"><img src="../../assets/images/icon/vk-footer.svg" alt="VK"></a>
						</li>
						<li><a href="#" class="footer__item-img"><img src="../../assets/images/icon/yt-footer.svg"
									alt="YouTube"></a>
						</li>
						<li><a href="#" class="footer__item-img"><img src="../../assets/images/icon/tt-footerr.svg"
									alt="TikTok"></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="footer-mob">
				<div class="footer-mob__contacts-block">
					<a href="#" class="footer-mob__address">г. Краснодар, ул. Дорожная, <br> 1Е (Яблоновский) и еще 3</a>
					<p class="footer-mob__work-time">С 9:00 до 20:00 без выходных</p>
					<ul class="footer-mob__list-contacts">
						<li><a href="#" class="footer-mob__link footer-mob__link_wa">Написать в WhatsApp</a></li>
						<li><a href="#" class="footer-mob__link footer-mob__link_tg">Написать в Telegram</a></li>
					</ul>
					<a href="tel:+78005000320" class="footer-mob__contacts-phone">Позвонить 8 (800) 500-03-20</a>
				</div>
				<div class="footer-mob__help">
					<h2 class="footer-mob__title footer-mob__title_help">Помощь</h2>
					<ul class="footer-mob__list-help">
						<li class="footer-mob__item"><a href="#" class="footer-mob__link footer-mob__link_help --pay">Оплата</a>
						</li>
						<li class="footer-mob__item"><a href="#" class="footer-mob__link footer-mob__link_help --delivery">Условия
								доставки</a>
						</li>
						<li class="footer-mob__item"><a href="#"
								class="footer-mob__link footer-mob__link_help --contact">Контакты</a></li>
						<li class="footer-mob__item"><a href="#" class="footer-mob__link footer-mob__link_help --feedback">Оставить
								отзыв</a>
						</li>
					</ul>
				</div>
				<div class="footer-mob__nav">
					<ul class="footer-mob__list-nav">
						<li class="footer-mob__item"><a href="#" class="footer-mob__link">Ремонт и обслуживание</a></li>
						<li class="footer-mob__item"><a href="#" class="footer-mob__link">Прокат оборудования</a></li>
						<li class="footer-mob__item"><a href="#" class="footer-mob__link">О нас</a></li>
						<li class="footer-mob__item"><a href="#" class="footer-mob__link">Вакансии</a></li>
						<li class="footer-mob__item"><a href="#" class="footer-mob__link">Пользовательское соглашение</a></li>
						<li class="footer-mob__item"><a href="#" class="footer-mob__link">Бонусная программа</a></li>
						<li class="footer-mob__item"><a href="#" class="footer-mob__link">Арендодателям</a></li>
					</ul>
				</div>
				<div class="footer-mob__subscribe">
					<h3 class="footer-mob__title footer-mob__title_subscribe">Подпишитесьна наши новости</h3>
					<form action="#" class="footer-mob__form form">
						<input class="form__input footer-mob__input" name="mail" type="email" placeholder="Введите свой e-mail"
							required>
						<button class="form__btn footer-mob__btn" title="Подписаться на новости" type="submit"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<p>© 2022<br>Сеть магазинов "Байк Центр" ® — bike-сentre.ru</p>
		</div>
	</div>
</footer>