@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';


.help {
	&__breadcrumbs {
		@include mix.displayFlex(flex, flex-start, center);
		gap: 10px;
		@include mix.adaptivFont(12, 8);

		& .active {
			color: #bdbdbd;
		}
	}

	&__header {
		@include mix.displayFlex(flex, space-between, center);
		margin: 2em 0em;
	}

	&__phone {
		@include mix.displayFlex(flex, flex-start, flex-end);
		gap: 30px;
		@include mix.adaptivFont(12, 10);

		&>a {
			@include mix.adaptivFont(24, 20);
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(2, .5fr) 260px;
		grid-gap: 16px 16px;
	}
}

.card {
	position: relative;
	padding: 1.6em;
	@include mix.adaptivFont(14, 10);
	border-radius: 20px;
	background: var.$accentColor;

	&__title {
		@include mix.adaptivFont(26, 22);
		font-weight: 700;
		margin-bottom: 1em;
	}

	&__image {
		position: absolute;
		top: -30px;
	}

	&__description {
		margin-bottom: 1.6em;
	}

	&__description-list_disc {
		list-style-type: disc;
		list-style: inside;
	}

	&__item-link {
		display: block;
		margin-top: 2em;
		color: var.$generalColorText;
		font-weight: 600;
		text-decoration: underline;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__button {
		@include mix.adaptivFont(14, 10);
		max-width: 216px;
		padding: 1em;
	}

	&_3,
	&_5,
	&_6 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-gap: 16px;
	}

	&_1 {
		grid-area: 1 / 1 / 3 / 4;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 16px;

		& .card__image {
			left: 50%;
			transform: translateX(-50%);
			width: 264px;
			height: 206px;
			background: url('../../assets/images/help/letschat.png') center top / contain no-repeat;
		}

		& .card__content {
			grid-area: 2 / 1 / 3 / 2;
		}
	}

	&_2 {
		grid-area: 1 / 4 / 3 / 7;

		& .card__title {
			margin-bottom: 2em;
		}

		& .card__image {
			grid-area: 1 / 2 / 2 / 3;
			right: 0;
			width: 202px;
			height: 202px;
			background: url('../../assets/images/help/pay.png') center top / contain no-repeat;
		}

		& .card__content {
			grid-area: 1 / 1 / 2 / 2;
		}
	}

	&_3 {
		grid-area: 1 / 7 / 2 / 12;
		color: #fff;
		background: #ff8c00;

		& .card__image {
			top: -20px;
			right: 1em;
			width: 321px;
			height: 200px;
			background: url('../../assets/images/help/coins.png') center top / contain no-repeat;
		}
	}

	&_4 {
		grid-area: 2 / 7 / 3 / 12;

		& .card__content {
			@include mix.displayFlex(flex, space-between, center);
			gap: 10px;
		}

		& .card__content-title,
		& .card__button {
			flex: 0 1 50%;
		}

		& .card__button {
			position: relative;
			justify-content: flex-start;

			&:before {
				@extend %pseudoElement;
				top: 50%;
				right: 1em;
				transform: translateY(-50%);
				width: 16px;
				height: 16px;
				background: url('../../assets/images/icon/arrow-btn.svg') center center / cover no-repeat;
			}
		}
	}

	&_5 {
		grid-area: 3 / 1 / 4 / 7;
		margin-top: 2em;

		& .card__content {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}

		& .card__image {
			right: 1em;
			width: 321px;
			height: 200px;
			background: url('../../assets/images/help/refaund.png') center top / contain no-repeat;
		}

	}

	&_6 {
		grid-area: 3 / 7 / 4 / 12;
		margin-top: 2em;

		& .card__content {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}

		& .card__image {
			right: 1em;
			width: 321px;
			height: 200px;
			background: url('../../assets/images/help/delivery.png') center top / contain no-repeat;
		}
	}
}