@use '../base/variable' as var;
@use 'help';

.main {
	flex: 1 1 auto;

	&__help {
		padding: 1em 0;
	}

	&__order,
	&__refaund,
	&__callback {
		padding: 1em 0;

		& h2,
		& p,
		& ul {
			margin-bottom: 1em;
		}

		& ul {
			list-style: disc;
			list-style-position: inside;
		}
	}

	&__callback {
		margin-bottom: 2em;
	}
}