@use '../base/variable' as var;
@use 'help';
@use 'callback';
@use 'refaund';
@use 'garanty';

.main {
	flex: 1 1 auto;

	&__help {
		padding: 1em 0;
	}

	&__order,
	&__refaund,
	&__callback {
		padding: 1em 0;

		& p,
		& ul {
			margin-bottom: 1em;
		}

		& ul {
			list-style: disc;
			list-style-position: outside;
			margin-left: 1.3em;
		}
	}

	&__callback {
		margin-bottom: 2em;
	}
}